<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{form.controls.name.value}}
      </mat-panel-title>
      <mat-panel-description>
        <i class="uxf-icon uxf-trash eca-button" (click)="$event.stopPropagation(); deleteService()" attr.aria-label="{{'Settings.Delete'|translate}}" title="{{'Settings.Delete'|translate}}"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
      <mat-label translate>Settings.MappingDef.Name</mat-label>
      <input matInput type="text" [formControl]="form.controls.name" required>
      <mat-error *ngIf="form.controls.name.invalid" translate>Settings.ServiceDef.Errors.Name</mat-error>
    </mat-form-field>   
          
    <h3 class="bold" translate>Settings.CourseSection</h3>
    <mat-form-field class="full-width">
      <mat-label translate>Settings.MappingDef.EsploroOrgUnit</mat-label>
      <mat-select [formControl]="form.controls.esploroOrgUnit">
        <mat-option *ngFor="let val of processingUnitToOrgUnitMapping" [value]="val.column1">{{val.column1}}</mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field class="full-width">
      <mat-label translate>Settings.MappingDef.CourseTerm</mat-label>  
      <mat-select [formControl]="form.controls.courseTerm" (selectionChange)="onCourseTermSelected($event)" [compareWith]="compareCourseTerm">
        <mat-option *ngFor="let term of courseTerms" [value]="term.code">{{term.description}}</mat-option>
      </mat-select>
    </mat-form-field>
 
    <h3 class="bold" translate>Settings.ActivitySection</h3>
    <mat-form-field class="full-width">
      <mat-label translate>Settings.MappingDef.ActivityType</mat-label>
      <mat-select [formControl]="form.controls.activityType">
        <mat-option *ngFor="let val of esploroActivityTypes" [value]="val.code">{{val.description}}</mat-option>
      </mat-select>
    </mat-form-field>         
    <mat-form-field class="full-width">
      <mat-label translate>Settings.MappingDef.ActivityResearcherRole</mat-label>
      <mat-select [formControl]="form.controls.activityResearcherRole">
        <mat-option *ngFor="let val of activityRoles" [value]="val.code">{{val.description}}</mat-option>
      </mat-select>
    </mat-form-field>   
  </mat-expansion-panel>